
    <div class="container" ng-controller="loginCT">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>LOGIN</h2>
        </div>
        <form class="form-signin" role="form" ng-submit='login()'>
            <input type="text" class="form-control" ng-model="data.username" placeholder="UserName">
            <input type="password" class="form-control" ng-model="data.password" placeholder="Password" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <label class="checkbox">
                <a href="/#/signup"> Sign Up</>
        </label>
      </form>
      
 
    </div>